body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    box-sizing: border-box;
    background-color: #1e1e1e;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: 0.35s ease;
    border-radius: 20px;
    width: fill;
    margin: 15px 20px;
    z-index: 9999;
    position: static; 
    padding: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links.left {
    margin-right: auto;
}

.navbar-links.right {
    margin-left: auto;
}

.navbar-links li {
    margin-left: 1rem;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    transition: color 0.3s, background-color 0.3s;
    padding: 0.5rem;
    border-radius: 12px;
}

.navbar-links a span.material-icons {
    margin-right: 0.5rem;
    font-size: 1.6rem;
}

.navbar-links a:hover {
    color: #ffffff;
    background-color: #575757;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 1rem;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        margin: 0.5rem 0;
    }

    .navbar-links.left,
    .navbar-links.right {
        margin: 0.5rem 0;
    }
}
